html,
body {
    margin: 0;
    padding: 0;
    background: black;
}
canvas {
    display: block;
}

.playpause label {
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 60px;
}
.playpause input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
.playpause input[type="checkbox"]:checked + label {
    border-style: solid;
    border-width: 37px 0 37px 60px;
}
.playpause input[type="checkbox"]:focus + label {
    box-shadow: 0 0 5px lightblue;
}

#healthy-count {
    color: rgb(0, 123, 255);
}

#infected-count {
    color: rgb(220, 53, 69);
}

#deceased-count {
    color: rgb(123, 123, 123);
}

#graph-container {
    height: 500px;
}

@media only screen and (max-width: 768px) {
    #app-name {
        width: 250px;
    }

    #graph-container {
        height: 250px;
    }
}
